.special-black {
	background: #161614
}
.green-black {
	background: #08100c
}

#feedback .row {
/*	height: 350px;
*/
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 0px;
}

.no-margin-top {
	margin-top: 0px !important;
}

#feedback .row .col:first-child {
	text-align: center;
}

#re-action {
	padding-top: 50px;
}

.new-button {
	margin: 20px;
	width: 150px;
}

#feedback .row .col h5 {
	color: #fff;
    font-style: italic;
    padding-top: 25px;
    padding-left: 10px;
    font-size: 1.2em;
}

#feedback img.circle {
	/*height: 250px;
	width: 250px;*/
	/*margin-top: 50px;*/
}

#map {
	width: 200px;
	height: 200px;
	background: white;
}
.big-logo {
	width: 290px;
	height: 290px;
}
#landingpage-footer {
	padding-top: 20px;
	margin-top: 0px;
}

.social-logo img{
	width: 30px;
	margin-bottom: 10px;
}

#landingpage-footer .footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}

#company-address p {
	color: white;
	line-height: 33px;
}

.page-footer {
	color: white;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.lg { font-size: 90px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }